* {
  box-sizing: border-box;
}

.contenedor {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #1B475D;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}

nav a {
  color: #EEE5C2;
}

nav a:hover {
  color: #D3DC7C;
}

nav button {
  padding: 8px 16px;
  font-size: 15px;
}

.tarjeta-paradoja {
  background-color: white;
  border: 2px solid #8EBD9D;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.mensaje-error {
  color: #ba1836;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

form label {
  font-size: 17px;
  font-weight: 600;
}

ol, ul {
  color: #1B475D;
}

ol li::marker {
  color: #1B475D;
  font-weight: bold;
}